.dice {
    flex: 0 1 auto;
    height: 1em;
    width: 1em;
    background-color: aqua;
    padding: 4px;
    margin: 0.5em;
}


/* add locked background color */
.locked{
    background-color: blueviolet;
    color: white;
}